# Inter-Uni Datathon: Team Habaybi

### Data Cleaning

In [1]:
# import required packages

import pandas as pd

data = pd.read_csv('train.csv')

data

,TransactionNumber,UserID,Age,Gender,Occupation,EducationLevel,MaritalStatus,NumDependents,Income,Expenditure,...,TransactionAmount,MerchantID,TransactionType,TransactionLocation,DeviceType,Latitude,Longitude,EmailDomain,Terrorism,UserTenure
0,11854,963,35,man,Student,Bachelor,Single,4,53733.41 AUD,AU$ 29296.02,...,AU$ 225.64,M005,Payment,Darwin,Desktop,-37.020100,144.964600,chapmangabriel@outlook.com,True,39
1,2647,1693,23,Male,Professional,Master,Single,2,54856.77 AUD,34628.31 AUD,...,AU$ 658.1,M003,Purchase,Darwin,Desktop,-37.020100,144.964600,sjones@gmail.com,True,65
2,5945,4383,44,Male,Student,Bachelor,Single,2,59011.72 AUD,33312.46 AUD,...,AU$ 133.59,M004,Purchase,Adelaide,mob,-30.000233,136.209152,woodmaria@yahoo.com,False,95
3,6798,1350,40,Male,Student,High School,Married,3,AU$ 128795.4,67049.0 AUD,...,AU$ 6.74,M008,Withdrawal,Canberra,Mobile,-37.020100,144.964600,rthornton@gmail.com,False,85
4,12985,4145,18,Male,Professional,Bachelor,Married,3,AU$ 44506.03,22856.31 AUD,...,15.67 AUD,M008,Transfer,Perth,Tablet,-20.917574,142.702789,daniel61@outlook.com,True,102
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7307,2636,498,40,Female,Student,High School,Married,4,46099.15 AUD,AU$ 23638.96,...,370.89 AUD,M007,Withdrawal,Perth,Desktop,-37.020100,144.964600,theresachavez@gmail.com,False,87
7308,14557,4707,52,Male,Unemployed,Master,Married,0,148540.21 AUD,76153.21 AUD,...,AU$ 48.35,M008,Purchase,Brisbane,mob,-31.840233,145.612793,bsmith@yahoo.com,False,39
7309,296,1426,42,Male,Student,Bachelor,Single,3,AU$ 62223.32,AU$ 25581.85,...,AU$ 110.23,M006,Transfer,Hobart,Mobile,-37.020100,144.964600,hensonernest@gmail.com,True,74
7310,1864,4605,39,Female,Student,PhD,Married,0,AU$ 119426.16,AU$ 85940.02,...,AU$ 202.37,M008,Purchase,Darwin,Mobile,-31.840233,145.612793,kschultz@gmail.com,True,18
7311,12235,443,23,Female,Professional,High School,Single,3,102678.35 AUD,32292.72 AUD,...,39.83 AUD,M007,Purchase,MLB,Tablet,-31.840233,145.612793,michaelray@gmail.com,False,8

In [3]:
data.describe()

,TransactionNumber,UserID,Age,NumDependents,Latitude,Longitude,UserTenure
count,7312.000000,7312.000000,7312.000000,7312.000000,7281.000000,7281.000000,7312.000000
mean,9169.994119,2511.229623,2864.706783,2.013129,-30.429947,141.116332,60.107358
std,5250.970696,1433.202556,9782.047526,1.403668,6.738583,11.038662,34.432426
min,0.000000,1.000000,-67.000000,0.000000,-41.640079,-122.176240,1.000000
25%,4679.750000,1294.750000,26.000000,1.000000,-37.020100,142.702789,31.000000
50%,9165.000000,2501.000000,34.000000,2.000000,-31.840233,144.964600,61.000000
75%,13694.500000,3748.000000,42.000000,3.000000,-25.042261,145.612793,90.000000
max,18276.000000,4999.000000,66000.000000,4.000000,51.711110,149.012375,119.000000

In [1]:
data.shape

NameError: name 'data' is not defined