# Inter-Uni Datathon: Team Habaybi

### Data Cleaning

In [1]:
# import required packages

import pandas as pd

train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [2]:
train.describe()

,TransactionNumber,UserID,Age,NumDependents,Latitude,Longitude,UserTenure,IsFraud
count,10966.000000,10966.000000,10966.000000,10966.000000,10923.000000,10923.000000,10966.000000,10966.000000
mean,9117.500091,2483.885282,2751.845887,1.995714,-30.363255,141.254786,60.786157,0.364308
std,5293.669640,1429.402615,9730.988917,1.408035,6.962819,11.268395,34.254477,0.481257
min,1.000000,1.000000,-68.000000,0.000000,-41.640079,-112.026050,1.000000,0.000000
25%,4516.250000,1253.000000,26.000000,1.000000,-37.020100,142.702789,31.000000,0.000000
50%,9120.500000,2471.000000,34.000000,2.000000,-31.840233,144.964600,61.000000,0.000000
75%,13710.750000,3727.000000,43.000000,3.000000,-25.042261,145.612793,90.000000,1.000000
max,18277.000000,5000.000000,67000.000000,4.000000,57.851580,149.012375,119.000000,1.000000

In [5]:
test.head(50)

,TransactionNumber,UserID,Age,Gender,Occupation,EducationLevel,MaritalStatus,NumDependents,Income,Expenditure,...,TransactionAmount,MerchantID,TransactionType,TransactionLocation,DeviceType,Latitude,Longitude,EmailDomain,Terrorism,UserTenure
0,11854,963,35,man,Student,Bachelor,Single,4,53733.41 AUD,AU$ 29296.02,...,AU$ 225.64,M005,Payment,Darwin,Desktop,-37.020100,144.964600,chapmangabriel@outlook.com,True,39
1,2647,1693,23,Male,Professional,Master,Single,2,54856.77 AUD,34628.31 AUD,...,AU$ 658.1,M003,Purchase,Darwin,Desktop,-37.020100,144.964600,sjones@gmail.com,True,65
2,5945,4383,44,Male,Student,Bachelor,Single,2,59011.72 AUD,33312.46 AUD,...,AU$ 133.59,M004,Purchase,Adelaide,mob,-30.000233,136.209152,woodmaria@yahoo.com,False,95
3,6798,1350,40,Male,Student,High School,Married,3,AU$ 128795.4,67049.0 AUD,...,AU$ 6.74,M008,Withdrawal,Canberra,Mobile,-37.020100,144.964600,rthornton@gmail.com,False,85
4,12985,4145,18,Male,Professional,Bachelor,Married,3,AU$ 44506.03,22856.31 AUD,...,15.67 AUD,M008,Transfer,Perth,Tablet,-20.917574,142.702789,daniel61@outlook.com,True,102
5,10085,1981,34,Male,Professional,Bachelor,Married,0,48811.06 AUD,26419.17 AUD,...,149.79 AUD,M005,Withdrawal,Darwin,Desktop,-25.042261,117.793221,jack69@outlook.com,False,105
6,7794,1288,39,Female,Retired,Bachelor,Single,3,76495.07 AUD,33862.74 AUD,...,AU$ 380.94,M007,Purchase,Sydney,galaxys7,-37.020100,144.964600,quinnmatthew@outlook.com,True,63
7,16065,3492,28,Female,Student,Bachelor,Married,0,AU$ 80872.99,AED 138121.67,...,AED 142.6,M005,Purchase,Cbr,mob,-37.020100,144.964600,reginagreen@disposable.com,False,102
8,11557,1370,38,Female,Student,Bachelor,Single,3,86743.12 AUD,AU$ 39814.03,...,358.2 AUD,M002,Purchase,Canberra,Desktop,-20.917574,142.702789,johnhowe@securemail.com,False,92
9,5971,3702,23,Female,Student,High School,Married,3,117850.22 AUD,AU$ 66666.27,...,AU$ 544.78,M002,Purchase,Canberra,Mobile,-31.840233,145.612793,yfriedman@gmail.com,True,31
10,15474,550,38,Female,Professional,High School,Married,0,54241.12 AUD,96588.47 AED,...,211.99 AED,M007,Purchase,Canberra,Mobile,-35.473469,149.012375,kristina01@tempmail.com,False,78
11,17959,1827,30,Male,Student,Bachelor,Single,0,56692.4 AUD,AED 75639.5,...,175.67 AED,M004,Transfer,Adelaide,Tablet,-20.917574,142.702789,phernandez@disposable.com,False,49
12,9249,167,32,Male,Retired,Bachelor,Married,0,AU$ 122713.34,41670.46 AUD,...,AU$ 685.86,M002,Purchase,Canberra,Mobile,-37.020100,144.964600,jorge89@outlook.com,False,16
13,17559,3778,18,Female,Professional,High School,Widowed,3,AU$ 70666.4,136189.03 AED,...,AED 490.36,M008,Purchase,Brisbane,Mobile,-37.020100,144.964600,richard96@yahoo.com,False,34
14,6621,3420,27,Male,Student,Bachelor,Married,0,78659.61 AUD,35699.83 AUD,...,216.09 AUD,M002,Purchase,Canberra,Mobile,-37.020100,144.964600,walkerkelsey@outlook.com,True,64
15,9861,3434,29000,Female,Professional,High School,Married,1,57799.59 AUD,AU$ 44956.2,...,AU$ 44.13,M005,Transfer,Adelaide,Desktop,-37.020100,144.964600,amandawhite@tempmail.com,True,103
16,6258,2168,42,Female,Unemployed,Master,Married,3,62742.3 AUD,AU$ 28130.08,...,AU$ 339.17,M008,Purchase,Melbourne,Mobile,-37.020100,144.964600,nkim@gmail.com,False,36
17,16000,2367,19,Female,Professional,Bachelor,Single,3,52198.82 AUD,AED 47592.76,...,AED 198.7,M003,Transfer,Sydney,Desktop,-37.020100,144.964600,angelicabailey@gmail.com,False,13
18,1027,2493,49,Male,Professional,Master,Single,4,AU$ 77117.55,AU$ 59626.5,...,114.54 AUD,M003,Transfer,Hobart,Mobile,-31.840233,145.612793,anthonyowen@outlook.com,False,68
19,13349,3545,46,Female,Retired,High School,Married,2,AU$ 51543.32,39487.03 AUD,...,AU$ 1399.64,M007,Transfer,Perth,Mobile,-37.020100,144.964600,kdean@tempmail.com,True,48
20,4061,3104,31,Male,Professional,Bachelor,Single,4,AU$ 115826.88,AU$ 50736.09,...,AU$ 412.44,M007,Transfer,Melb,Mobile,-37.020100,144.964600,belinda51@disposable.com,False,31
21,2981,1168,31,Male,Professional,High School,Married,3,82875.09 AUD,AU$ 32720.78,...,452.35 AUD,M002,Purchase,Melb,Mobile,-31.840233,145.612793,shaunharrison@gmail.com,False,85
22,11098,2839,33,Male,Professional,High School,Single,3,AU$ 70155.57,AU$ 29204.2,...,11.12 AUD,M002,Purchase,Brisbane,Mobile,-30.000233,136.209152,vincent92@gmail.com,False,70
23,17511,1476,21,Male,Professional,High School,Married,4,95798.24 AUD,AED 157847.1,...,AED 1671.87,M003,Purchase,Sydney,Mobile,-37.020100,144.964600,jessica48@gmail.com,False,51
24,14732,2972,54,Female,Professional,Master,Married,1,87237.92 AUD,AED 150205.04,...,AED 7885.25,M005,Purchase,Darwin,Desktop,-25.042261,117.793221,nelsonalex@gmail.com,True,62
25,10782,3447,18,Female,Retired,High School,Married,0,130969.22 AUD,AU$ 80184.58,...,AU$ 37.14,M006,Transfer,Adelaide,Mobile,-37.020100,144.964600,jennifermarshall@gmail.com,False,88
26,16815,698,35,Male,Student,High School,Widowed,4,55141.54 AUD,AED 107300.35,...,AED 813.02,M006,Purchase,Darwin,Mobile,-31.840233,145.612793,ericamelton@yahoo.com,False,107
27,251,2497,34000,Male,Professional,Bachelor,Married,2,55381.96 AUD,AU$ 42601.84,...,AU$ 518.84,M002,Transfer,Darwin,Desktop,-31.840233,145.612793,josephclark@tempmail.com,True,97
28,9531,1973,32,he,Professional,High School,Single,4,AU$ 69322.22,AU$ 41214.78,...,AU$ 87.74,M007,Withdrawal,Hobart,iphone 15,-31.840233,145.612793,cardenasjake@yahoo.com,False,66
29,8932,3403,41,Female,Professional,High School,Single,0,37026.32 AUD,AU$ 17138.07,...,294.76 AUD,M006,Purchase,Adelaide,Mobile,-25.042261,117.793221,knoxjennifer@yahoo.com,False,7
30,5277,2792,18,Male,Professional,Bachelor,Divorced,1,60890.14 AUD,AU$ 34038.71,...,108.67 AUD,M002,Purchase,sydney,Mobile,-20.917574,142.702789,lorimyers@outlook.com,True,3
31,10705,3451,30,Male,Student,High School,Divorced,1,43722.22 AUD,AU$ 16843.36,...,AU$ 115.83,M005,Purchase,Brisbane,Tablet,-31.840233,145.612793,lisa34@outlook.com,True,82
32,14556,2516,41,Female,Student,Bachelor,Married,0,76929.99 AUD,AU$ 30532.41,...,69.16 AUD,M003,Purchase,Darwin,Mobile,-31.840233,145.612793,ivasquez@gmail.com,False,19
33,9362,4548,-46,Male,Professional,High School,Single,0,AU$ 49397.11,AU$ 30337.91,...,AU$ 179.21,M007,Payment,Brisbane,Mobile,-31.840233,145.612793,amy07@gmail.com,False,29
34,16070,4705,28,Female,Retired,Bachelor,Married,2,52066.87 AUD,AED 59661.25,...,248.02 AED,M001,Purchase,Perth,Mobile,-37.020100,144.964600,uharris@gmail.com,True,77
35,2518,1702,33,Male,Professional,Bachelor,Single,0,45101.0 AUD,AU$ 29748.53,...,AU$ 140.42,M002,Withdrawal,Sydney,Desktop,-25.042261,117.793221,nsheppard@outlook.com,False,54
36,2712,2554,33,Female,Professional,Bachelor,Single,3,29990.44 AUD,17712.86 AUD,...,AU$ 1015.9,M007,Purchase,Brisbane,Mobile,-37.020100,144.964600,patricksmith@outlook.com,False,25
37,11491,4321,27,Female,Retired,High School,Married,3,AU$ 45307.73,14881.58 AUD,...,AU$ 362.48,M006,Purchase,Perth,Mobile,-25.042261,117.793221,pgoodman@tempmail.com,False,98
38,16753,4769,22,Female,Professional,High School,Single,2,42055.92 AUD,AED 35448.79,...,141.38 AED,M006,Purchase,Adelaide,Desktop,-41.640079,146.315918,joshuasimon@yahoo.com,True,102
39,9891,516,39,Female,Professional,Bachelor,Single,4,82380.08 AUD,27427.15 AUD,...,2518.01 AUD,M004,Transfer,Melbourne,Mobile,-37.020100,144.964600,angel27@yahoo.com,False,111
40,5751,3803,-37,Male,Student,High School,Married,0,AU$ 141916.62,55868.73 AUD,...,AU$ 81.67,M008,Withdrawal,Darwin,Tablet,-37.020100,144.964600,jenniferbrown@disposable.com,False,4
41,8630,3112,45,man,Professional,Master,Married,4,58379.49 AUD,AU$ 39484.0,...,396.65 AUD,M006,Transfer,Adelaide,Mobile,-37.020100,144.964600,dmckee@tempmail.com,True,35
42,4554,2235,-34,Female,Professional,Bachelor,Married,3,AU$ 67103.53,50445.86 AUD,...,233.79 AUD,M003,Transfer,Adelaide,Mobile,-31.840233,145.612793,josephgarrett@gmail.com,False,108
43,16601,1289,21,Male,Professional,Bachelor,Widowed,4,AU$ 49909.47,67252.26 AED,...,872.88 AED,M008,Payment,Adelaide,mob,-31.840233,145.612793,kim97@outlook.com,False,102
44,13938,2218,30,Male,Professional,High School,Single,1,96920.49 AUD,37176.75 AUD,...,49.72 AUD,M008,Purchase,Canberra,Mobile,-37.020100,144.964600,michaelwatkins@tempmail.com,False,48
45,2605,1596,48,Female,Retired,High School,Married,1,87944.41 AUD,46729.35 AUD,...,AU$ 294.27,M001,Transfer,Adelaide,Mobile,-31.840233,145.612793,krista06@gmail.com,False,51
46,1144,4013,31,fem,Student,High School,Widowed,2,AU$ 152572.89,99144.72 AUD,...,AU$ 473.52,M004,Transfer,Canberra,Desktop,-20.917574,142.702789,michelle21@yahoo.com,True,40
47,14236,1108,45,Female,Student,High School,Single,0,81389.84 AUD,27615.92 AUD,...,125.95 AUD,M001,Transfer,Brisbane,smartphone,-31.840233,145.612793,amandahayes@gmail.com,True,101
48,11096,1090,36,Female,Unemployed,High School,Married,1,AU$ 109566.79,34395.89 AUD,...,AU$ 56.94,M006,Purchase,Perth,smartphone,-20.917574,142.702789,john29@gmail.com,False,48
49,11040,4346,28,he,Student,High School,Divorced,2,AU$ 57846.86,44390.57 AUD,...,114.4 AUD,M002,Payment,Sydney,Mobile,-25.042261,117.793221,michaelhaney@outlook.com,False,44